<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SEIKO eCommerce HTML 5 Template</title>
	<meta name="author" content="BigSteps">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="https://gazef.s3.amazonaws.com/Swapit/images/roaster.png">

	<!-- Vendor -->
	<link href="https://gazef.s3.amazonaws.com/Swapit/js/vendor/slick/slick.css" rel="stylesheet">
	<link href="https://gazef.s3.amazonaws.com/Swapit/js/vendor/swiper/swiper.min.css" rel="stylesheet">
	<link href="https://gazef.s3.amazonaws.com/Swapit/js/vendor/magnificpopup/dist/magnific-popup.css" rel="stylesheet">
	<link href="https://gazef.s3.amazonaws.com/Swapit/js/vendor/darktooltip/dist/darktooltip.css" rel="stylesheet">
	<link href="https://gazef.s3.amazonaws.com/Swapit/js/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="https://gazef.s3.amazonaws.com/Swapit/js/vendor/nouislider/nouislider.css" rel="stylesheet">

	<!-- Custom -->
	<link href="https://gazef.s3.amazonaws.com/Swapit/css/style.css" rel="stylesheet">
	<link href="https://gazef.s3.amazonaws.com/Swapit/css/megamenu.css" rel="stylesheet">
	<link href="https://gazef.s3.amazonaws.com/Swapit/css/animate.css" rel="stylesheet">

	<!-- Color Schemes -->
	<!-- your style-color.css here  -->


	<!-- Icon Font -->
	<link href="https://gazef.s3.amazonaws.com/Swapit/fonts/icomoon-reg/style.css" rel="stylesheet">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Nunito:400,700" rel="stylesheet">

	

</head>

<body class="fullwidth">
	<!-- Loader -->
	<div id="loader-wrapper">
            <img src="https://gazef.s3.amazonaws.com/Swapit/loading.gif" style="margin-top: -250px;margin-left: 135px;"/>
	</div>
	<!-- /Loader -->
	<div id="wrapper">
		<!-- Page -->
		<div class="page-wrapper">
			<main class="page-main">
				<div class="block fullheight coming-soon">
					<div class="container">
						<div class="logo">
							<a href="index.html" title="Logo"><img src="https://gazef.s3.amazonaws.com/Swapit/images/logo.png" alt="Logo" /></a>
						</div>
						<div class="title">Coming soon</div>
						<div class="countdown-squared">
							<div class="countdown-wrapper">
								<div class="countdown" data-promoperiod="100000000"></div>
							</div>
						</div>
						<div class="wrapper wrapper-form">
							<div class="left-col">
								<h3>Subscribe to our news</h3>
								<div class="clearfix"></div>
								<input class="form-control input-lg" type="text" />
								<button class="btn btn-lg btn-alt"><i class="icon icon-close-envelope"></i><span>Submit</span></button>
							</div>
							<div class="right-col">
								<h3>Login to secret room</h3>
								<div class="clearfix"></div>
								<input class="form-control input-lg" type="text" />
								<button class="btn btn-lg"><i class="icon icon-user"></i><span>Enter</span></button>
							</div>
							<div class="center-col">
								<a class="icon icon-star-fill bookmark" href="#"></a>
							</div>
						</div>
					</div>
				</div>
			</main>

		</div>
		<!-- /Page -->
		<!-- /Page Content -->
		<!-- Footer -->
		<footer class="page-footer variant3">
			<div class="after-footer topnull">
				<div class="footer-copyright text-center"> © 2016 Demo Store. All Rights Reserved. </div>
			</div>
		</footer>
		<!-- /Footer -->
	</div>
	<!-- jQuery Scripts  -->
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/jquery/jquery.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/bootstrap/bootstrap.min.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/swiper/swiper.min.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/slick/slick.min.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/parallax/parallax.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/isotope/isotope.pkgd.min.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/magnificpopup/dist/jquery.magnific-popup.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/countdown/jquery.countdown.min.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/nouislider/nouislider.min.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/ez-plus/jquery.ez-plus.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/tocca/tocca.min.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/bootstrap-tabcollapse/bootstrap-tabcollapse.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/scrollLock/jquery-scrollLock.min.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/darktooltip/dist/jquery.darktooltip.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/instafeed/instafeed.min.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/megamenu.min.js"></script>
	<script src="https://gazef.s3.amazonaws.com/Swapit/js/app.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150431712-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150431712-1');
</script>
<!-- Facebook Pixel Code -->
<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window,document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	 fbq('init', '317801925667017'); 
	fbq('track', 'PageView');
	</script>
	<noscript>
	 <img height="1" width="1" 
	src="https://www.facebook.com/tr?id=317801925667017&ev=PageView
	&noscript=1"/>
	</noscript>
	<!-- End Facebook Pixel Code -->
</body>

</html>