<!-- Footer -->

<footer class="page-footer variant4 fullboxed" >
        <div class="footer-top bg" style="background:#ddd !important;display:none;">
                <div class="container">
                    <div class="row" style="">
                        <div class="col-md-6">
                            <!-- newsletter -->
                            <div class="newsletter ">
                                <div class="footer-logo">
                                    <a href="index.html"><img class="img-responsive" src="https://gazef.s3.amazonaws.com/Swapit/images/barFooter.PNG" alt="Footer Logo"></a>
                                </div>
                                
                            </div>
                            <!-- /newsletter -->
                        </div>
                        <div class="col-md-6">
                            <div>
                                <!-- input-group -->
                                <form action="#" style="margin-top:15px;">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="icon icon-close-envelope"></i></button>
                                            </span>
                                    </div>
                                </form>
                                <!-- /input-group -->
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <h3><span class="custom-color">HOT</span> Company news </h3>
                            <div class="news-item">
                                <div class="news-date">21.10.06</div>
                                <h4 class="news-title">Neque porro quisquam est</h4>
                                <div class="news-text">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut git, sed quia consequuntur magni dolore</p>
                                    <p><a href="#" class="readmore">Read more</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h3>Twitter</h3>
                            <a class="twitter-timeline" href="https://twitter.com/ThemeForest" data-chrome="transparent nofooter noborders noheader noscrollbar" data-tweet-limit="1" data-widget-id="677235277925113856">Tweets by @ThemeForest</a>
                            <script>
                                ! function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0],
                                        p = /^http:/.test(d.location) ? 'http' : 'https';
                                    if (!d.getElementById(id)) {
                                        js = d.createElement(s);
                                        js.id = id;
                                        js.src = p + "://platform.twitter.com/widgets.js";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }
                                }(document, "script", "twitter-wjs");
                            </script>
                        </div> -->
                    </div>
                </div>
            </div>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <div class="footer-block collapsed-mobile">
                        <div class="title">
                            <h4 class="top-wear">INFORMATION</h4>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="collapsed-content">
                            <ul class="marker-list">
                                <li><a href="/about/">About Us</a></li>
                                <!-- <li><a href="/sell/">Customer Service</a></li> -->
                                <li><a href="/privacy_policy/">Privacy Policy</a></li>
                                <li><a href="/blog/">Our Blog</a></li>
                                <!-- <li><a href="search.html">Search Terms</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="footer-block collapsed-mobile">
                        <div class="title">
                            <h4 class="bottom-wear">MY ACCOUNT</h4>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="collapsed-content">
                            <ul class="marker-list">
                                <li><a href="/account_details/">My account</a></li>
                                <!-- <li><a href="registration/login.html">Logination</a></li> -->
                                <li><a href="/cart/">My cart</a></li>
                                <li><a href="/account_wishlist/">My wishlist</a></li>
                                <!-- <li><a href="search.html">Search Terms</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="footer-block collapsed-mobile">
                        <div class="title">
                            <h4 class="foot-wear">CUSTOMER CARE</h4>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="collapsed-content">
                            <ul class="marker-list">
                                <!-- <li><a href="blog.html">Our Blog</a></li> -->
                                <!-- <li><a href="search.html">Search Terms</a></li> -->
                                <li><a href="/contact/">Contact Us</a></li>
                                <li><a href="/sell/">Customer Service</a></li>
                                <li><a href="/privacy_policy/">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="footer-block collapsed-mobile">
                        <div class="title">
                            <h4 class="outter-wear">CONTACT US</h4>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="collapsed-content">
                            <ul class="simple-list">
                                <li><i class="icon icon-location"></i>Alnarges 1 villa 3, 5th Satelment, new Cairo, Cairo, Egypt.</li>
                                <li><i class="icon icon-phone"></i>01000swapit (792748)</li>
                                <li><i class="icon icon-close-envelope"></i><a href="mailto:info@swapitclothing.com"> info@swapitclothing.com</a></li>
                                <li><i class="icon icon-clock"></i>10AM:7PM weekdays</li>
                            </ul>
                            <div class="footer-social">
                                <a href="https://www.facebook.com/swapitclothing"><i class="icon icon-facebook-logo icon-"></i></a>
                                <a href="https://www.instagram.com/swapitclothing"><i class="icon icon-instagram icon-"></i></a> 
                                <!-- <a href="#"><i class="icon icon-skype-logo icon-circled"></i></a>
                                <a href="#"><i class="icon icon-vimeo icon-circled"></i></a> -->
                            </div>
                            <div class="footer-copyright "> Developed and maintained by © <strong><a href="https://bit68.com">Bit68</a></strong> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150431712-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150431712-1');

</script>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '317801925667017'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=317801925667017&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- <div class="footer-bot">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-8">
                    <div class="image-banner text-center">
                        <a href="#"> <img src="https://gazef.s3.amazonaws.com/Swapit/images/banners/footer-banner.jpg" alt="Footer Banner" class="img-responsive"> </a>
                    </div>
                </div>
                <div class=" col-md-6 col-lg-4">
                    <div class="footer-copyright text-center"> Developed and maintained by © <strong><a href="https://bit68.com">Bit68</a></strong> </div>
                </div>
            </div>
        </div>
    </div> -->
    <style>
    footer.page-footer.variant4.fullboxed {
    background: #000;
}

.footer-block h4 {
    color: #fff !important;
}

ul.marker-list li, ul.marker-list li a {}

ul.marker-list li, ul.marker-list li a {
}

ul.marker-list li, ul.marker-list li a {
    color: #fff;
}

.simple-list li {}

ul.simple-list li {
    color: #fff !important;
}

ul.simple-list i {
    color: #fff !important;
}

ul.simple-list li a {
    color: #fff;
}

.footer-social i {
    color: #fff;
}

.footer-copyright a {
    color: #fff;
}
    </style>
</footer>