<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Swapit - Privacy Policy</title>
    <meta name="author" content="BigSteps">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">

   <link rel="shortcut icon" href="https://gazef.s3.amazonaws.com/Swapit/images/roaster.png">
    <!-- Vendor -->
    <link href="https://gazef.s3.amazonaws.com/Swapit/js/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="https://gazef.s3.amazonaws.com/Swapit/js/vendor/slick/slick.css" rel="stylesheet">
    <link href="https://gazef.s3.amazonaws.com/Swapit/js/vendor/swiper/swiper.min.css" rel="stylesheet">
    <link href="https://gazef.s3.amazonaws.com/Swapit/js/vendor/magnificpopup/dist/magnific-popup.css" rel="stylesheet">
    <link href="https://gazef.s3.amazonaws.com/Swapit/js/vendor/nouislider/nouislider.css" rel="stylesheet">
    <link href="https://gazef.s3.amazonaws.com/Swapit/js/vendor/darktooltip/dist/darktooltip.css" rel="stylesheet">
    <link href="https://gazef.s3.amazonaws.com/Swapit/css/animate.css" rel="stylesheet">

    <!-- Custom -->
    <link href="https://gazef.s3.amazonaws.com/Swapit/css/style.css" rel="stylesheet">
    <link href="https://gazef.s3.amazonaws.com/Swapit/css/megamenu.css" rel="stylesheet">
    <link href="https://gazef.s3.amazonaws.com/Swapit/css/myStyle.css" rel="stylesheet">

    <!-- Color Schemes -->
    <!-- your style-color.css here  -->


    <!-- Icon Font -->
    <link href="https://gazef.s3.amazonaws.com/Swapit/fonts/icomoon-reg/style.css" rel="stylesheet">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Nunito:400,700" rel="stylesheet">
    

</head>

<body class="boxed">
    <!-- Loader -->
    <div id="loader-wrapper">
            <img src="https://gazef.s3.amazonaws.com/Swapit/loading.gif" style="margin-top: -250px;margin-left: 135px;"/>
    </div>
    <!-- /Loader -->
    <div class="fixed-btns">
        <!-- Back To Top -->
        <a href="#" class="top-fixed-btn back-to-top"><i class="icon icon-arrow-up"></i></a>
        <!-- /Back To Top -->
    </div>
    <div id="wrapper">
        <!-- Page -->
        <div class="page-wrapper">

            {% include 'header.html' %}

            <br> <br>

            <main class="page-main">
                <!-- <div class="block">
                    <div class="container">
                        <ul class="breadcrumbs">
                            <li><a href="index.html"><i class="icon icon-home"></i></a></li>
                            <li>/<span>About us</span></li>
                        </ul>
                    </div>
                </div> -->
                <div class="block">
                    <div class="container">
                        <div class="title center">
                            <h1>Swapit Policy</h1>
                        </div>
                    </div>
                </div>

                
                <div class="block  " data-parallax="scroll" >
                    <div class="container">
                    <h3>This privacy notice applies solely to information collected by this web site. It will notify you of the following:</h3>
                        <!-- <div class="row">
                            <div class="col-sm-12">
                                <div class="text-wrapper text-lg">
                                    It’s easier than ever to sell your clothes to swapit with our Sell via WhatsApp. Request a pre-paid shipping bag, choose whether you’d like a cash back credit to buy from our collections now or later!! We’re able to purchase from you– and let us know if you have more clothes that you like to donate. Our pre-paid shipping bag will be at your door in days, ready to fill up with gently Pre-owned, on-trend clothing.


                                </div>
                            </div>
                        </div> -->
                        <ol>
                            <li>What personally identifiable information is collected from you through the web site, how it is Pre-owned and with whom it may be shared.</li>
                            <li>What choices are available to you regarding the use of your data.</li>
                            <li>How you can correct any inaccuracies in the information.</li>


                        </ol>
                    </div>
                </div>

                
                <div class="block  " data-parallax="scroll" >
                    <div class="container">
                    <h3>Information Collection, Use, and Sharing:</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-wrapper text-lg">

                                We are the only owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
                                We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.
                                Unless you ask us not to, we may contact you via email/number in the future to tell you about special offers new products or services.
                                <br>
                                <br>

                                Your Access to and Control Over Information:
                                <br>
                                You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:
                                <ul>
                                    <li>See what data we have about you, if any.</li>
                                    <li>Change/correct any data we have about you.</li>
                                    <li>Have us delete any data we have about you.</li>
                                    <li>Express any concern you have about our use of your data.</li>
                                </ul>
                                
                                    


                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="block  " data-parallax="scroll" >
                    <div class="container">
                    <h3>Security:</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-wrapper text-lg">

                                We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
                                

                                
                                    


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="block  " data-parallax="scroll" >
                    <div class="container">
                    <h3>Information Collection, Use, and Sharing:</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-wrapper text-lg">

                                You can only return a product on the same day it’s delivered. 
                                So, we mentioned below some points to check when your order is delivered:
                                
                                <ul>
                                    <li>We delivered the correct product you ordered online.</li>
                                    <li>The size you ordered is correct.</li>
                                    <li>Product matches description on our website.</li>
                                </ul>

                                <blockquote style="font-weight: bold;">"A full refund will be returned to you if any of the above points is not achieved. Otherwise you may be charged for a small shipping fee."</blockquote>
                                
                                    


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                
            </main>
            {% include 'footer.html' %}
        </div>
        <!-- Page Content -->
    </div>
    

    <!-- jQuery Scripts  -->
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/jquery/jquery.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/swiper/swiper.min.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/slick/slick.min.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/parallax/parallax.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/magnificpopup/dist/jquery.magnific-popup.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/countdown/jquery.countdown.min.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/nouislider/nouislider.min.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/ez-plus/jquery.ez-plus.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/tocca/tocca.min.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/bootstrap-tabcollapse/bootstrap-tabcollapse.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/scrollLock/jquery-scrollLock.min.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/darktooltip/dist/jquery.darktooltip.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/vendor/instafeed/instafeed.min.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/megamenu.min.js"></script>
    <script src="https://gazef.s3.amazonaws.com/Swapit/js/app.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150431712-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150431712-1');
</script>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '317801925667017'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=317801925667017&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
</body>

</html>